<% include ../partials/header.ejs %>
        <div class="panel-body">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <form method="post">
              Survey name: <input type="text" name="surveyName" disabled value="<%= surveyName %>"><br>
              <input type="submit" name="1" value="1">
              <input type="submit" name="2" value="2">
              <input type="submit" name="3" value="3">
            </form>
          </div>
        </div>
<% include ../partials/footer.ejs %> 