<% include ../partials/header.ejs %>
        <div class="panel-body"  id="panelBody">
          <div class="col-md-2"></div>
          <div class="col-md-8" id="homePageBody">
          <h1 id="welcomeText">Welcome to Ask Survey!</h1>
          <h3 id="welcomeSubText">This is the best place on the internet to create a customized survery just for you.</h3>
          </div>
        </div>
        <div class="panel-body">
        <div class="col-md-4" id="ctaBox1">
        <p id="ctaText">Create a beautifully awesome survey</p>
        <a href="/createsurvey" id="ctaLink">Create</a>
        </div>
        <div class="col-md-4" id="ctaBox2">
        <p id="ctaText">Register as a new user here!</p>
        <a href="/user/register" id="ctaLink">Register</a>
        </div>
        <div class="col-md-4" id="ctaBox3">
        <p id="ctaText">Already a user? Click below to login</p>
        <a href="/user/login" id="ctaLink">Login</a>
        </div>
        </div>
<% include ../partials/footer.ejs %> 