<% include ../partials/header.ejs %>
        <div class="panel-body">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <form method="POST">
              Survey name: <input type="text" name="surveyName"><br>
              pick type
              <input type="submit" name="a" value="1">
              <input type="submit" name="b" value="2">
            </form>
          </div>
        </div>
<% include ../partials/footer.ejs %> 